body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.postimg.cc/NGxkv89T/gamebackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spongeimg {
    width: 220px; 
    position: fixed; 
    bottom: 570px; 
    left: 2%;
}

.game-container {
    text-align: center;
    position: fixed;
    top: 8%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.game-container h1 {
    font-family: 'Londrina Shadow', cursive;
    font-weight: 2500px;
    font-size: 5rem;
    margin-bottom: 10px;
    letter-spacing: 6px;
    color: rgb(73, 71, 181)
}

@keyframes flip-and-flip-back {
    0%, 100% {
        transform: rotate(0deg); /* Start and end at 0 degrees */
    }
    50% {
        transform: rotate(10deg); /* Rotate 10 degrees clockwise */
    }
    75% {
        transform: rotate(-10deg); /* Rotate 10 degrees counterclockwise */
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 140px;
    padding: 20px;
}

.card {
    background-color: #f0f0f0;
    height: 120px;
    width: 180px; /* Adjust width as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.card:hover {
    transform: scale(1.05);
}
